<h1 class="title is-2">Publishers</h1>

<ol class="ml-5">
<% @publishers.each do |publisher| %>
<li>
<%= link_to publisher.publisher_name, publisher %> printed <%= publisher.books.count %> books in the list
</li>
<% end %>
</ol>
