<% sorted_books = @publisher.books.sort_by { |book| book.gross_sales.to_f }.reverse %>

<h1 class="title is-2"><%= @publisher.publisher_name %></h1>
<p class="mb-5">
  <em>
    Printed <%= @publisher.books.count %> books on the list from highest to lowest gross sales
  </em>
</p>

<div class="content">
  <ol>
    <% sorted_books.each do |book| %>
      <li>
        <%= link_to book.book_name, book %>
        (<%= number_to_currency(book.gross_sales) %>)
      </li>
    <% end %>
  </ol>
</div>
